@using TodoList.Models
@model List<Tarefa>
@{
    ViewBag.Title = "Lista de Tarefas";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Tarefas</h1>

<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Texto</th>
        <th>Concluida</th>
        <th>Usuário</th>
        <th>&nbsp;</th>
    </tr>

    @* <img src='/images/icon.png' /> *@
    <h1>Você tem @Model.Count tarefas</h1>

    @foreach(var tarefa in Model)
    {
        <tr>
            <td>@tarefa.Id</td>
            <td>@tarefa.Texto</td>
            <td>@tarefa.TextoConcluida</td>
            <td>@tarefa.Usuario.Nome</td>
            <td>
                <a href="/todo/delete/@tarefa.Id" class="btn btn-sm btn-danger">Apagar</a>
                <a href="/todo/update/@tarefa.Id" class="btn btn-sm btn-primary">Editar</a>
            </td>
        </tr>
    }

</table>

<a href="/todo/create" class="btn btn-primary">Adicionar</a>